notebooks/raw_data/
notebooks/test/
notebooks/verified_data/
notebooks/data/
notebooks/all_keypoints.csv
notebooks/dataset_sequences_norm.npz
notebooks/data/*.csv
*.mp4
notebooks/
model_definition.py
predic_live.py
predic_live2.py
predict_live.py
predict_video.py
predict_video2.py